*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    color: #ededed;
    /* height: 100vh; */
    /* background: url(photo12.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
     background-color: #060918;
     /* background-color: #272a55; */

}
.fts{
     background-color: #272a5598;
     width: 100%;
}
.la{
    border-radius: 180px;
}
.t{
    width: 25px;
    height: 60px;
}
.k{
    width: 25px;
}
.ft{
    text-align: center;
    padding: 40px;
    background-color: #000000;
}
p{
    color: #959bad;
}
.btn-box{
    padding: 15px;
    background-color: rgba(59, 130, 246, .5);
    border-radius: 15px;
    text-decoration: none;
    color: white;
}
.link1{
    margin: 35px;
    margin-left: 10px;
    /* padding: 5px; */
    background-color:#589aeb3b;
     backdrop-filter: blur(60px);
    border-radius: 15px;
    text-decoration: none;
    color: white;
    /* margin: 38px; */
    margin-top: 60px;
    padding: 60px 20px;
    border-radius: 10px;
    /* text-align: center; */
    transition: all 0.3s ease;
    border: 1px solid #959bad81;
    display: flex;
}
.sv{
    color: #0ef;
}
.link1:hover{
    background-color: rgba(231, 156, 15, 0.514);
     border: 1px solid orange;

}
.btn-box:hover{
    background-color: orange;
}
.lk{
    /* padding: 5px; */
    /* background-color: rgba(255, 166, 0, 0.377); */
    /* border-radius: 15px; */
    text-decoration: none;
    color: white;
    /* margin: 38px; */
    /* margin-top: 60px; */
    /* padding: 30px 20px; */
    /* border-radius: 10px; */
    text-align: center;
    transition: all 0.3s ease;

}

.q{
    color: orange;
    
}
.home-sci{
    margin-bottom: 20px;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    font-weight:500;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    /* height: 100vh; */
    /* background: url(photo12.avif)no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    margin-top: 70px;
    
}
.home2{
    margin-top: 20px;
    display: flex;
    align-items: center;
 
    padding-left: 110px;
    padding-right: 60px;
}
.home3{
    margin-top: 10px;
    display: flex;
    align-items: center;
 
    padding-left: 120px;
    padding-right: 80px;
}
.pk{
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 80px;
}
.home-content {
    max-width: 600px;
}
.bt1{
    margin-right: 60px;
    width: 450px;
}
.bt2{
    margin-right: 45px;
}
.bg{
   
    font-weight: 900;
    font-size: xx-large;
}
.pj1{
    width: 500px;
     margin-right: 45px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1{ 
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    /* font-size: 20px; */
    font-family: 'Times New Roman', Times, serif;

}
.hd{
    border-bottom: 2px solid;
    border-color: orange;
    color: orange;
}

.container{
    padding: 5%;
}
@media(max-width:800px){
    .fts{
        width: 100%;
    }
    
.container{
    padding: 10%;
}
    .home{
        padding: 40px 5% 0;
        display: block;
    }
    .home2{
        display: block;
         padding-left: 60px;
    padding-right: 30px;
    }
    .home3{
          display: block;
           padding-left: 0px;
    padding-right: 0px;
     width: 0px;
    }
    .la{
        margin-top: 60px;
    }
    .bt1{
         margin-right: 5px;
         width: 300px;
    }
    .navbar{
        display: none;
    }
    .home-content {
    max-width: 400px;
    }

    .pj1{
    width: 300px;
     margin-right: 15px;
}

    .pj1{
    width: 400px;
     margin-right: 15px;
     margin-top: 18px;
}

    .link1{
        margin: 15px;
       
       
    }
}

.bt2 a{
   margin: 10px;
}
.ow{
    color: orange;
}